:root {
    --bg-m: rgba(17, 20, 20, 1);
    --span-m: #EFEFEF;

        /* Font sizes */
        --font-size-xs: 0.8rem;
        --font-size-sm: 1.2rem;
        --font-size-md: 1.2rem;
        --font-size-lg: 1.6rem;
        --font-size-xl: 2rem;
        --font-size-xxl: 2.4rem;
        --font-size-xxxl: 3.2rem;
      
        /* Line heights */
        --line-height-xs: 1;
        --line-height-sm: 1.2;
        --line-height-md: 1.4;
        --line-height-lg: 1.6;
        --line-height-xl: 1.8;
        --line-height-xxl: 2;
        --line-height-xxxl: 2.4;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-m);
    color: var(--span-m);
}

main {
    padding-top: 1rem; /* replace with the height of your header */
    box-sizing: border-box;
  }
   /* Text styles */
   h1 {
    font-size: clamp(var(--font-size-xl), 6vw, var(--font-size-xxxl));
    line-height: var(--line-height-xl);
  }
  
  h2 {
    font-size: clamp(var(--font-size-lg), 4vw, var(--font-size-xxl));
    line-height: var(--line-height-lg);
  }
  
  h3 {
    font-size: clamp(var(--font-size-md), 3vw, var(--font-size-xl));
    line-height: var(--line-height-md);
  }
  
  h4 {
    font-size: clamp(var(--font-size-sm), 2vw, var(--font-size-lg));
    line-height: var(--line-height-sm);
  }
  
  h5 {
    font-size: clamp(var(--font-size-xs), 1.5vw, var(--font-size-md));
    line-height: var(--line-height-xs);
  }
  
  h6 {
    font-size: clamp(var(--font-size-xs), 1vw, var(--font-size-sm));
    line-height: var(--line-height-xs);
  }
  
  p {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    margin-bottom: 1rem;
  }
  /* Image styles */
/* img {
  max-width: 100%;
  height: auto;
  } */

  #contact {
    font-size: clamp(var(--font-size-md), 2vw, var(--font-size-lg));
      line-height: var(--line-height-md);

      margin: auto;
      text-align: center;
  }

.wrapper {
    max-width: 1920px;
    /* margin: 20px auto; */
    display: grid;
    transform: none;
    padding-top: 10%;
}
.parent {
    /* max-width: 1200px;
    margin: 20px auto; */
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 3rem;
}

@media (min-width: 1124px) {
    .parent {
        /* max-width: 1200px;
        margin: 20px auto; */
        display: grid;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 2rem;
        text-align: left;
    }
}

.item {
    margin: auto;
    font-size: 1.1rem;
    display: grid;
    align-content: center; /*centering using grid*/
    background-color: var(--bg-m);
    color: rgba(239, 239, 239, 1);
    border-left:1px solid var(--span-m);
    border-left-color: gray;
    padding: 20px;
}


#span {
    font-size: 2.75rem;
  font-size: clamp(2.75rem, 2.15rem + 3vw, 5.75rem);
    color: var(--span-m);
    line-height: 8.625rem;
    font-weight: 275;
    opacity: 0.26;
  
  }

  #span_two {
    font-style: normal;
    line-height: 2.813rem;
    color: var(--span-m);
    font-weight: 500;
    font-size: 1.2rem;
font-size: clamp(1.2rem, 1.065rem + 0.675vw, 1.875rem);
    padding-inline: 1rem;
  }

  
  #span_three {
    font-style: normal;
    line-height: 1.2;
    font-weight: 400;
    font-size: clamp(var(--font-size-sm), 2vw, var(--font-size-lg));
    margin-bottom: 3.125rem;
    padding-inline: 1rem;
    color: var(--span-m);
  }

  .help_css {
    display: grid;
    align-content: center; /*centering using grid*/

    font-style: normal;
    line-height: 4.688rem;
    color: rgba(255, 153, 33, 1);
    font-weight: 500;
    font-size: 3.125rem;
    padding-inline: 2.2rem;
  }


  /* -------------
  ---Navbar----
  ---------- */

  header {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    /* background-color: var(--bg-m); */
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); */
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    height: 90px; /* replace with the height of your header */
    border: none;
  }
  .contact {
  text-decoration: none;
  color: #fff;
  background-color: var(--bg-m);
  border: 2px solid #FF9921;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: clamp(var(--font-size-lg), 5vw, var(--font-size-xxl));
  transform: rotate(-10.86deg);
  transform-origin: 50% 50%;
  text-align: center;
  display: grid;
}

.contact a {
    text-decoration: none;
    color: #fff;
    background-color: var(--bg-m);

    
}
#brand {
  width: 100%;
  height: auto;
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  .navbar-toggler {
    display: none;
  }

  ul {
    list-style: none;
  }


